:root
{
    --blue-dark: #031102;
    --color: #146d04;
    --family: Montserrat;
    --radius: 50px;
    --transition: all 0.5s ease-in 0s;
}
*
{
    box-sizing: border-box;
    font-family: var(--family);
}
*::selection
{
    background-color: var(--color);
    color: #fff;
}
#header_startPage
{
    background-image: linear-gradient(to bottom, rgba(2, 7, 2, 0.961) 40%, rgba(7, 15, 3, 0.884) 60%), url("../img/take.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
